@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    .Header {
        padding: 1rem;
    }

    .display {
        font-size: 2rem;
        display: block !important;
        cursor: pointer;
        color: $white;
    }

    .menu-nav {
        display: none;
    }

    .Hero {
        .container {
            width: 100%;
            height: 100%;
            padding: 2rem;
            justify-content: space-evenly;

            .bottom-show {
                display: none;
            }
        }


    }

    .Section_Powerful {
        .icon-box {
            .icons {
                width: 5rem;
                height: 5rem;
                border-radius: 1rem;
                font-size: 2rem;

                p {

                    margin-top: .1rem;
                }
            }
        }

        .details {
            .text {
                flex-direction: column;
                width: 100%;

                p {
                    width: 100%;
                    margin: 1rem 0;
                }
            }
        }

        .table {
            width: 100%;

            tbody {

                th,
                td {
                    padding: 0;
                }
            }

        }
    }

    .Footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        &-box-top {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

        }

        &-logo {
            width: 3rem;
            margin: 1rem;
        }

        .content {
            width: 100%;
            padding: 2rem;

        }

        .box-section {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            width: 100%;

            .section {
                width: 33%;
            }
        }

        &-box-bottom {
            margin-top: 1rem;
            text-align: center;
        }
    }



}
