@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("http://fonts.cdnfonts.com/css/interstate");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.App {
  width: 100%;
  height: 100%;
}

.Header {
  width: 100%;
  height: 6rem;
}

.Hero {
  width: 100%;
  height: calc(100vh - 6rem);
}

.view {
  background-color: rgba(247, 247, 247, 0.5215686275) !important;
}

.Header {
  display: flex;
  background-color: #0080de;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.Header .logo-icon {
  width: 3rem;
  height: auto;
}
.Header .menu-nav {
  align-self: flex-end;
  padding-top: 5rem;
  height: 100%;
  width: 70%;
  margin-left: 4rem;
}
.Header .menu-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header .menu-nav li {
  list-style: none;
}
.Header .menu-nav a {
  text-decoration: none;
  color: #fff;
}
.Header .menu-nav a:hover {
  transition: all 0.3s;
  color: #0093ff;
}
.Header .display {
  display: none;
}

.Hero {
  background-image: url("../Img/Mask Group 1.png");
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(20, 20, 20, 0.5215686275);
  z-index: 100;
}
.Hero .container {
  z-index: 150;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
}
.Hero .container h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 50%;
  line-height: 4rem;
  text-transform: capitalize;
  margin: 0.8rem;
  margin-bottom: 4rem;
}
.Hero .container p {
  margin: 1rem;
  width: 50%;
  font-size: 1rem;
  font-weight: 300;
}
.Hero .container .button button {
  padding: 1rem 2rem;
  background-color: #0080de;
  outline: none;
  border: none;
  border-radius: 2rem;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Hero .container .button button:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #0080de;
}
.Hero .container .bottom-show {
  position: absolute;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 2rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
}
.Hero .container .bottom-show .radio-dark,
.Hero .container .bottom-show .radio-light {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.Hero .container .bottom-show .radio-dark {
  background-color: #0080de;
}
.Hero .container .bottom-show .radio-light {
  background-color: rgb(1, 34, 78);
}
.Hero .bottom-dark-shadow {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 1%, rgba(255, 255, 255, 0) 67%);
  z-index: 100;
}

.Section_Powerful {
  width: 80%;
  height: 100%;
  margin: 2rem auto;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
.Section_Powerful .icon-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;
}
.Section_Powerful .icon-box .icons {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #ee2326;
  background-color: #363636;
  border-radius: 2rem;
  flex-direction: column;
}
.Section_Powerful .icon-box .icons p {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
  font-weight: 300;
  text-transform: capitalize;
}
.Section_Powerful .details {
  width: 100%;
}
.Section_Powerful .details h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
.Section_Powerful .details .text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 200;
}
.Section_Powerful .details .text p {
  width: 48%;
}
.Section_Powerful .details button {
  margin-top: 4rem;
  display: block;
  background-color: #0080de;
  padding: 1rem 6rem;
  border-radius: 2rem;
  text-transform: capitalize;
  color: #fff;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}
.Section_Powerful .details button:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #0080de;
}
.Section_Powerful .table {
  width: 100%;
}
.Section_Powerful .table h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
.Section_Powerful .table table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  text-align: left;
}
.Section_Powerful .table table thead {
  background-color: #0080de;
}
.Section_Powerful .table table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.Section_Powerful .table table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.Section_Powerful .table table tr:nth-child(even) {
  background-color: #707070;
}
.Section_Powerful .table table tbody {
  background-color: #fff;
  color: #000;
  border: none;
}
.Section_Powerful .table table tbody tr:hover {
  transition: all 0.3s;
  color: #fff;
  background-color: #ee2326;
  cursor: pointer;
}
.Section_Powerful .table table th,
.Section_Powerful .table table td {
  padding: 1rem 2rem;
}
.Section_Powerful .table table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.Section_Powerful .table table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.Footer {
  width: 100%;
  height: 20rem;
  background-color: #0080de;
  border-radius: 2rem 2rem 0 0;
  color: #fff;
}
.Footer .content {
  width: 80%;
  height: 16rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 4rem;
}
.Footer .section h4 {
  margin: 0 0 1rem 2rem;
}
.Footer .section-box {
  display: flex;
  align-items: center;
}
.Footer .section-box .address {
  width: 50%;
}
.Footer .section-box .icon {
  font-size: 2rem;
  color: #0080de;
  background-color: #fff;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.Footer .section .num {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0080de;
  margin: 0.5rem;
}
.Footer-box-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 4rem;
  width: 100%;
  height: 15rem;
}
.Footer-logo {
  margin: 1rem 4rem;
  width: 4rem;
}
.Footer-box-bottom {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #000;
  width: 100%;
}
.Footer .box-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.Menu {
  position: fixed;
  z-index: 2000;
  background-color: #0080de;
  width: 100vw;
  height: 100vh;
}
.Menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}
.Menu ul li {
  width: 15rem;
  margin: 0 auto;
  display: block;
}
.Menu ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
  font-weight: 400;
  padding: 1rem;
  border: 2px solid #0080de;
}
.Menu ul li a:hover {
  transition: all 0.3s;
  border: 2px solid #fff;
  background-color: #fff;
  color: #0080de;
}
.Menu .close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.Menu .close:hover {
  transition: all 0.3s;
  color: #0093ff;
}

.btn {
  padding: 1rem 2rem;
  background-color: #0080de;
  outline: none;
  border: none;
  border-radius: 2rem;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #0080de;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .Header {
    padding: 1rem;
  }

  .display {
    font-size: 2rem;
    display: block !important;
    cursor: pointer;
    color: #fff;
  }

  .menu-nav {
    display: none;
  }

  .Hero .container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: space-evenly;
  }
  .Hero .container .bottom-show {
    display: none;
  }

  .Section_Powerful .icon-box .icons {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  .Section_Powerful .icon-box .icons p {
    margin-top: 0.1rem;
  }
  .Section_Powerful .details .text {
    flex-direction: column;
    width: 100%;
  }
  .Section_Powerful .details .text p {
    width: 100%;
    margin: 1rem 0;
  }
  .Section_Powerful .table {
    width: 100%;
  }
  .Section_Powerful .table tbody th,
.Section_Powerful .table tbody td {
    padding: 0;
  }

  .Footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Footer-box-top {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .Footer-logo {
    width: 3rem;
    margin: 1rem;
  }
  .Footer .content {
    width: 100%;
    padding: 2rem;
  }
  .Footer .box-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
  }
  .Footer .box-section .section {
    width: 33%;
  }
  .Footer-box-bottom {
    margin-top: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .Header {
    padding: 1rem 2rem;
  }

  .display {
    font-size: 2rem;
    display: block !important;
    cursor: pointer;
    color: #fff;
  }

  .menu-nav {
    display: none;
  }

  .Hero .container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: space-between;
  }
  .Hero .container .bottom-show {
    display: none;
  }

  .Section_Powerful .icon-box .icons {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  .Section_Powerful .icon-box .icons p {
    margin-top: 0.1rem;
  }
  .Section_Powerful .details .text {
    flex-direction: column;
    width: 100%;
  }
  .Section_Powerful .details .text p {
    width: 100%;
    margin: 1rem 0;
  }
  .Section_Powerful .table {
    width: 100%;
  }
  .Section_Powerful .table tbody th,
.Section_Powerful .table tbody td {
    padding: 0;
  }

  .Footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Footer-box-top {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .Footer-logo {
    width: 3rem;
    margin: 1rem;
  }
  .Footer .content {
    width: 100%;
    padding: 2rem;
  }
  .Footer .box-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
  }
  .Footer .box-section .section {
    width: 33%;
  }
  .Footer-box-bottom {
    margin-top: 1rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */